*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   
   body {
    background-color: #DFDBE5;
    background-image: url("https://res.cloudinary.com/pixel-direction/image/upload/v1662004313/Cv./watercolor-abstract-purple-background_23-2149120778_gmdpws.webp");
       /*background-repeat: repeat-x;*/
       background-position: right center;
       background-attachment: fixed;
       color:black;
      
       } 
   
   a{
       color:black;
       text-decoration: none;
   }
   
   ul {
       list-style: none;
   }
   
   
   /* NAVIGATION */
 
   
   .tamañofoto {
       width: 700px;
   }
   
   .foto {
       display: flex;
       justify-content: center
      
   }
   .ct{
       text-align: center;
   }
   .subtitle{
       text-align: center;
   } 
   /*REDES*/
        .social{
        margin: 50px;

        }
        .social p {
        text-align: center;
        font-size: 40px;
        margin-bottom: 20px;
        }

        .links { 
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .links a {
            margin: 0 30px;
        }
        .links a i {
            font-size: 3rem;

        }
        .footer-container {
            display: grid;
        }
        .biografia {
            display: flex;
            align-items: center;
        }
       .footer-links {
           
           background: hsl(280, 17%, 38%);
           color: rgb(255, 255, 255);
           font-size: 12px;
           padding: 35px 0;
   
       }

       /*NAV YOUTUBE*/

       *{
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        
    
    }
    
    nav{
        background: hsl(280, 17%, 38%);
        height: 80px;
        width: 100%;
    }
    .enlace{
        position: absolute;
        padding: 20px 50px;
    }
    .logo{
        height: 40px;
    }
    nav ul{
        float: right;
        margin-right: 20px;
    }
    nav ul li{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }
    nav ul li a{
        color: #fff;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }
    li a.active, li a:hover{
        background: #2e2334;
        transition: .5s;
        color: #b48dc7;
    }
    .checkbtn{
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
        
    }
    #check{
        display: none;
    }
    section{
        background: url(fondo.jpg) no-repeat;
        background-size: cover;
        background-position: center center;
        height: calc(100vh - 80px);
    }
    
    @media (max-width: 952px){
        .enlace{
            padding-left: 20px;
        }
        nav ul li a{
            font-size: 16px;
        }
    }
    
    @media (max-width: 858px){
        .checkbtn{
            display: block;
        }
        ul{
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #b48dc7;
            top: 80px;
            left: -100%;
            text-align: center;
            transition: all .5s;
        }
        nav ul li{
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a{
            font-size: 20px;
        }
        li a:hover, li a.active{
            background: none;
            color: #2e2334;
        }
        #check:checked ~ ul{
            left:0;
        }
    }
/*Mis Proyectos*/
    .card {
        display: inline-block;
        margin: 20px;
        left: 170px;
    }
    .conteiner {
        overflow: hidden;
        
    }
    /*CONOCEME*/
  
    .content-descarga{
        width: 100%;
        max-width: 300px;
        margin: 20px;
        padding: 20px;
        background: #b48dc7;
        text-align: center;
        border: 2px solid #2e2334;
    }
    .descarga-ahora{
        display: inline-block;
        text-decoration: none;
        padding: 15px 20px;
        background: #2e2334;
        color: #b48dc7;
        border-radius: 5px;
    }
    .descarga-ahora:hover{
        opacity: 0.9;
    }
    .btn-descarga{
        display: inline-block;
        padding: 15px 25px;
        background: #2e2334;
        color: #b48dc7;
        border:none;
        font-size: 16px;
        margin-top: 20px;
        border-radius: 5px;
        outline: 0px;
        cursor: pointer;
    }
    .btn-descarga:hover{
        opacity: 0.9;
    }
    .content-descarga i{
        margin-left: 5px;
    }